<h2 class="text-muted">
  <strong>Reassessment</strong>
</h2>
<br>
<input type="button" class="btn  btn-info" value="Run Rules" (click)="runRule()">&nbsp;
<br>
<br>
<input type="checkbox" id="migrationPattern" (change)="migrationPatternMethod($event)">&nbsp;Migration Pattern
<br>
<input type="checkbox" id="cloudProvider" (change)="cloudProviderMethod($event)">&nbsp;Cloud Provider
<br>
<div>
  <br>
  <div class="container">
    <table datatable="bootstrap" [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" class="table table-bordered table-striped ">
      <thead>
        <tr>
          <th>App</th>
          <th>Application</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor =  "let size of reassessmentDataValue">
          <td>
            <input #value type="checkbox" id="applicationId" (change)="applicationNameChange($event,size.applicationId)">
          </td>
          <td>{{size.applicationName}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>