<div>
    <div>
      <h2 class="text-muted">Application <small>List of applications</small></h2>
    </div>
    <br>
        <br>
      <div>
            <table width="100%" datatable="bootstrap" id="user-list" [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"  class="table table-hover table-sm ">
            <thead bgcolor="#E0E0E0">
              <tr>
                <th>Application name</th>
                <th>Application Description</th>
                <th>Application List</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>{{userRoleData.applicationName}}</td>
                  <td>{{userRoleData.applicationDescription}}</td>
                  <td>{{userRoleData.applicationList}}</td>
                 <td width="24%"> 
                    
                    <button (click)="assessApplication(userRoleData)"  class="btn btn-light" ><i class="fa fa-hourglass-start"></i></button>&nbsp;
                  </td>
                  </tr> 
          </tbody>
          </table>
    </div>
    
    </div>
  
    