<div>
    <div class="Change Password" [@routerTransition]>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <i class="fa fa-lock" style="font-size:60px;color:skyblue;" aria-hidden="true"></i>
                <h3>Change Password</h3>
                <form role="form" #changePasswordForm="ngForm" (ngSubmit)="onLoggedin(changePasswordForm.value)">
                    <div class="form-content">
                        <div class="form-group">
                            <input type="text"  [ngModel]="previousPassword" class="form-control input-underline input-lg" name="previousPassword" placeholder="previous password" required/>
                        </div>
                        <div class="form-group">
                            <input type="password" [ngModel]="password" name="password" class="form-control input-underline input-lg" placeholder="Password" required/>
                        </div>
                    </div>
                   <input type="submit"class="btn rounded-btn" value="Submit">
                </form>
            </div>
        </div>
    </div>
    </div>