<h3>Assessment Questions</h3>
<h1>
  <hr width="100%" size="80">
</h1>
<div [hidden]="submitted" style="width: 300px;">
  <form role="form" #add="ngForm" (ngSubmit)="onSubmit(add.value)">
    <div class="form-content">
      <div class="form-group">
        <br>
        <label for="questionType">
          <b>Assessment Type</b>
        </label>
        <br>
        <input type="checkbox" [(ngModel)]="question.assessmentTypeForMigration" name="assessmentTypeForMigration" (click)="assessmentTypeForMigrationClick($event)">&ngsp;
        <label>Migration</label>
        <br/>
        <div *ngIf="assessmentTypeForMigrationValue">
          <br>
          <div *ngFor =  "let row of MigrationData ;let i=index">
            <tr>
              &ngsp;&ngsp;
              <td>
                <input type="checkbox" [(ngModel)]="row.migrationPattern" name="migrationPattern{{i}}" value="row.migrationPattern">
              </td>
              <td>{{MigrationDataArray[i]}}</td>
            </tr>
          </div>
          <br>
        </div>
        <input type="checkbox" [(ngModel)]="question.assessmentTypeForCloudProvider" name="assessmentTypeForCloudProvider" (click)="assessmentTypeForCloudProviderClick($event)">&ngsp;
        <label>cloud provider</label>
        <br/>
        <div *ngIf="assessmentTypeForCloudProvider">
          <br>
          <div *ngFor =  "let row of CloudProviderData;let i=index">
            <tr>
              &ngsp;&ngsp;
              <td>
                <input type="checkbox" [(ngModel)]="row.cloudProviders" name="cloudProviders{{i}}" value="row.cloudProviders">
              </td>
              <td>{{CloudProviderDataArray[i]}}</td>
            </tr>
          </div>
          <br>
        </div>
        <input type="checkbox" [(ngModel)]="question.assessmentTypeForCloudable" name="assessmentTypeForCloudable">&ngsp;
        <label>Cloudable</label>
        <br/>
      </div>
      <div class="form-group">
        <label for="questionType">Question Type</label>
        <select [(ngModel)]="question.questionType" class="form-control" #questionType="ngModel" required name="questionType">
          <option value="Multiple Choice Single Answer">Multiple Choice Single Answer</option>
          <option value="Multiple Choice Multiple Answer">Multiple Choice Multiple Answer</option>
          <option value="Short Answer">Short Answer</option>
          <option value="Long Answer">Long Answer</option>
        </select>
        <div *ngIf="questionType?.touched">
          <div *ngIf="questionType.errors?.required" class="color">*Question Type can't be empty</div>
        </div>
      </div>

      <div class="form-group">
        <label for="questionDisplayOrder">Question Display Order</label>
        <input type="text" class="form-control" id="questionDisplayOrder" required #displayOrder="ngModel" [(ngModel)]="question.questionDisplayOrder"
          name="questionDisplayOrder">
        <div *ngIf="displayOrder?.touched">
          <div *ngIf="displayOrder.errors?.required" class="color">*Question Display Order can't be empty</div>
        </div>
      </div>
      <div class="form-group">
        <span>number of option</span>&ngsp;
        <select (change)="selectChangeHandler($event)" required #option="ngModel" [(ngModel)]="question.numberOfOption" name="numberOfOption">
          <option class='option' *ngFor='let option of optionsValues'>{{option}}</option>
        </select>
        <div *ngIf="option?.touched">
          <div *ngIf="option.errors?.required" class="color">*number of option can't be empty</div>
        </div>
      </div>

      <div class="form-group">
        <label for="questionText">Question</label>
        <input type="text" class="form-control" id="questionText" required #questionTest="ngModel" [(ngModel)]="question.questionText"
          name="questionText">
        <div *ngIf="questionTest?.touched">
          <div *ngIf="questionTest.errors?.required" class="color">*Question can't be empty</div>
        </div>
      </div>

      <div class="form-group">
        <label for="questionDescription">Question Description</label>
        <input type="text" class="form-control" id="questionDescription" required #description="ngModel" [(ngModel)]="question.questionDescription"
          name="questionDescription">
        <div *ngIf="description?.touched">
          <div *ngIf="description.errors?.required" class="color">*Question Description can't be empty</div>
        </div>
      </div>
      <div class="form-group" *ngIf="question.numberOfOption">
        <div *ngFor="let size of Options;let first  = first;let i = index">
          <div *ngIf="first ; else notfirst">
          </div>
          <ng-template #notfirst>
            <label for="answers">Answer{{size}}</label>
            <br>
            <input type="text" [(ngModel)]="optionText[i-1]" name="optionText[i-1]" required #answer="ngModel" />
            <div *ngIf="answer?.touched">
              <div *ngIf="answer.errors?.required" class="color">*answer can't be empty</div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="add.invalid">Submit</button>

  </form>
</div>