<div>
  <div>
    <h2 class="text-muted">Application
      <small>Detailed view of application</small>
    </h2>
  </div>
  <div>
    <table datatable class="table table-bordered table-striped ">
      <thead>
        <tr>
          <th>Detailed View</th>
          <th>Values</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Application Id
          </td>
          <td>
            {{message.applicationId}}
          </td>
        </tr>
        <tr>
          <td>
            Application Name
          </td>
          <td>
            {{message.applicationName}}
          </td>
        </tr>
        <tr>
          <td>
            Application Description
          </td>
          <td>
            {{message.applicationDescription}}
          </td>
        </tr>
        <tr>
          <td>
            Application Type
          </td>
          <td>
            {{message.applicationtype}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>