/*
   server-side-angular-way.component.css
*/
.no-data-available {
    text-align: center;
  }
  
  /*
     src/styles.css (i.e. your global style)
  */
  .dataTables_empty {
    display: none;
  }

  // .button {background-color: #e7e7e7; color: black;}

  // .button1{background-color:white;}
