#styles{
    // position: absolute;
    // top:  50%;
    // left: 50%;
    // margin-left: 50%;
    // margin-top: 50%;
}

.youtube-player
{
    margin-left: 50%;
    margin-top: 50%;
}

.jumbotron {
    // background: none;   
    width: 430px;
              /* Transparent background */
}

.myvideo{
    width: 1000px;
}