<h2 class="text-muted">Application
    <small>Add new Applictaion</small>
</h2>
<div [hidden]="submitted" style="width: 300px;">
    <form #form="ngForm" (ngSubmit)="onSubmit(app)">
        <div class="form-content">
            <div class="form-group">
                <label for="applicationName">
                    <font color="green">Application Name</font>
                </label>
                <input type="text" class="form-control" id="applicationName" required [(ngModel)]="app.applicationName" name="applicationName">
            </div>
            <div class="form-group">
                <label>
                    <font color="green">Application Description</font>
                </label>
                <input type="text" class="form-control" id="applicationDescription" required [(ngModel)]="app.applicationDescription" name="applicationDescription">
            </div>
            <div class="form-group">
                <label>
                    <font color="green">Is cloudable? (Recommended)</font>
                </label>
                <input type="text" class="form-control" id="recommendedCloudable" required [(ngModel)]="app.recommendedCloudable" name="recommendedCloudable">
            </div>
            <div class="form-group">
                <label>
                    <font color="green">Recommended Cloud Provider</font>
                </label>
                <!-- <select class="form-control" [(ngModel)]="app.recommendedCloudProvider" name="recommendedCloudProvider" (change)="onSelectCloudProvider($event.target.value)"> -->
                    <select class="form-control" [(ngModel)]="app.recommendedCloudProvider" name="recommendedCloudProvider">
                    <option selected disabled></option>
                    <option *ngFor="let cloudprovider of cloudProviders;let i= index" value={{cloudprovider.cloudProviders}}>
                        {{cloudprovider.cloudProviders}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label>
                    <font color="green">Recommended Migration Pattern</font>
                </label>
                <!-- <select class="form-control" [(ngModel)]="app.recommendedMigrationPattern" name="recommendedMigrationPattern" (change)="onSelectMigrationPatternr($event.target.value)"> -->
                    <select class="form-control" [(ngModel)]="app.recommendedMigrationPattern" name="recommendedMigrationPattern">
                    <option selected disabled></option>
                    <option *ngFor="let MigrationPattern of migrationPatterns;let i= index" value={{MigrationPattern.migrationPattern}}>
                        {{MigrationPattern.migrationPattern}}
                    </option>

                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
<div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <button class="btn btn-info" (click)="createApplication()">Add</button>
</div>