<div>
  <div>
    <h2 class="text-muted">
      <strong>CAT</strong>
      <small> Active General FAQs</small>
    </h2>
  </div>

  <div class="container">
    <div class="jumbotron">
      <div>
        <p>
          <b>Q1. What types of services does CAT offer?</b>
        </p>
        <p>Ans. It provides a platform to check if application is Cloudable or not. It also helps you to know Migration Pattern
          and Cloud Provider for the application.</p>
      </div>
      <div>
        <p>
          <b>Q2. Who can use the application?</b>
        </p>
        <p>
          Ans. If anyone wants to Migrate there application to cloud then they can use the application to know if their application
          is cloudable or not.
        </p>
      </div>
      <div>
        <p>
          <b>Q3. How to get access to the application, do I need to create an account?</b>
        </p>
        <p>
          Ans. No need to create an account. First of all you have to contact the owner or the CAT application. Then they will create
          a new user(account) on behalf of you and will provide credential. Now using those credential you can access to
          the application.
        </p>
      </div>

      <div>
        <p>
          <b>Q4. As a client can I add any user or create user if yes then how can i create a new user?</b>
        </p>
        <p>
          Ans. Definitely you can create users for accessing your applications. You just need to go to users console where you can
          find Add User button. Just click on that you can add new user by providing the user information.
        </p>
      </div>
      <div>
        <p>
          <b>
            Q5. How to update user or delete user as per need? Is it possible?
          </b>
        </p>
        <p>
          Ans. Yes, it is possible to delete and update user. In user console there is a button for deleting and updating users. By
          clicking on Delete button you can delete a user. By clicking on Update User button a new window will appear by
          providing user information you can update it.
        </p>
      </div>

      <div>
        <p>
          <b>Q6. Can I import user if I have a list of users information in my excel file?</b>
        </p>
        <p>
          Yes, we have provided import user functionality in the application. Import User button is present on users console. After
          clicking on the button you can import users. If you do not have the CSV file, we have provided a sample CSV in
          the application. You can fill the file and import it as well.

        </p>
      </div>
      <div>
        <p>
          <b>Q7. How can I export users list?</b>
        </p>
        <p>Ans. You just need to go to users console and click on Export Users button. It will download a CSV file containing
          all the users information.</p>
      </div>
      <div>
        <p>
          <b>Q8. Is it a configurable application? If yes how it works?</b>
        </p>
        <p>
          Ans. Yes, it is a configurable application. You can add any number of Users, Questions, Applications to it. As per your requirement
          set it and will check the cloudability, Migration Pattern, Cloud Provider for the application.
        </p>
      </div>
      <div>
        <p>
          <b>Q9. How can I assist an application?</b>
        </p>
        <p>Ans. For Assisting application go to application console then under action column assist button is present. After
          clicking on the button you can give answer for your application.</p>
      </div>
      <div>
        <p>
          <b>Q10. How to add questions?</b>
        </p>
        <p>
          Ans. To add questions go to the assessment question console then click on Add Questions button to add questions. you can
          add answers for your questions here. you can also select the question type here.
        </p>
      </div>
      <div>
        <p>
          <b>Q11. Can the application have different clients?</b>
        </p>
        <p>Ans. Yes we have different clients and different questions as well as different set of rules for them.</p>
      </div>
      <div>
        <p>
          <b>Q12. Can I deactivate users questions and application?</b>
        </p>
        <p>
          Ans. Yes we are providing buttons in respective pages for this purpose. For this you have to go to respective console and
          under action column deactivate button is present. Click on those button to make them invisible from UI.

        </p>
      </div>
      <div>
        <p>
          <b>Q12. Can I export PDF file reports for my application?</b>
        </p>
        <p>
          Ans. Yes, you can. In the console go to report section. There you can find button for exporting PDF files for your application.
        </p>
      </div>

      <div>
        <p>
          <b>Q13. What is Decision Tree. How it works?</b>
        </p>
        <p>
          Ans. It contains the rules that is sets to check Cloudability, Migration Pattern, Cloud Provider. You can set rules here.
          Based on the rules it will provide you results.
        </p>
      </div>

      <div>
        <p>
          <b>Q14. How to set rules for Cloudability check?</b>
        </p>
        <p>
          Ans. Under Decision Tree module Cloudable module is present. After clicking on cloudable module all the cloudable questions
          will appear. There you can provide the rules for cloudable.
        </p>
      </div>
      <div>
        <p>
          <b>Q15. What all type of Migration Pattern are there?</b>
        </p>
        <p>
          Ans. Public PAAS, Replatform, ReHost
        </p>
      </div>
      <div>
        <p>
          <b>Q16. How to set rules for different migration pattern?</b>
        </p>
        <p>
          Ans. Under decision tree Migration Pattern module is present. There you have to select for which migration pattern you want
          to add rules. After select that a new page will appear where it will contain questions and you have to provide
          rules for them.
        </p>
      </div>
      <div>
        <p>
          <b>Q17. What all type of Cloud Providers are there?</b>
        </p>
        <p>Ans. There are different type of Cloud Provider are present some of them are AWS, AZURE, Openshift, Global IT cloud.
          Cloud Provider decides to which cloud you can move you application.</p>It is a featuse we are providing. Suppose
        you made some changes to your rule sets and you want your finalize applications to execute as per the new rule sets.
        For that select the applications and select the respective check boxes for whice rule you want to execute your application
        and click on Run Rules button.
      </div>

      <div>
        <p>
          <b>Q18. Can we set rules for cloud provide?</b>
        </p>
        <p>Ans. Yes, you can. Just add the rules under Cloud Providers module present in decision tree.</p>
      </div>
      <div>
        <p>
          <b>Q19. What is Reassessment?</b>
        </p>
        <p>
          It is a feature we are providing. Suppose you made some changes to your rule sets and you want your finalize applications
          to execute as per the new rule sets. For that select the applications and select the respective checkboxes for
          which rule you want to execute your application and click on Run Rules button.

        </p>
      </div>

      <div>
        <p>
          <b>Hope you find the application useful and friendly. If you find any issue let us know in Feedback section so we
            can improve more.</b>
        </p>
      </div>


    </div>


  </div>

</div>